@font-face {
    font-family: "Space Mono";
    src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Mono";
    background-color: transparent !important;
    background-image: linear-gradient(to top, #200933, #3d0b43);
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

.yellow-text-with-shadow {
    color: #ffcc00;
    text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;
}

.magenta-text-with-shadow {
    color: #fc199a;
    text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #fc199a, 0 0 2px #fc199a;
}

.div-container {
    max-width: 50%;
    margin: 0 auto;
}

#header-name {
    text-align: center;
    margin-bottom: 0.5em;
    
}

#ul-nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

.li-nav {
    display: inline;
}

.li-nav:not(:last-child) {
    padding-right: 20px;
}

.li-nav:not(:first-child) {
    padding-left: 20px;
}

.li-nav:hover {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#div-content-area {
    max-width: 75%;
    height: 1000px;
    margin: 0 auto;
    border-style: dashed;
    border-width: 0.1px;
}

.h2-subsection {
    text-align: center;
}

.intro {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 50%;
    padding: 0 3em;
}

#aboutme {
    background-color: rgb(73, 173, 245);
}
