@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@keyframes typing {
    from { width: 0 }
    to { width: 190% }
}

@keyframes blink {
    from { border-color: transparent };
    to { border-color:rgb(30, 175, 30)};
}

html * {
    font-family: "SpaceMono";
}

.div-content-center {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 5vw;
}

#name-page-title-zone {
    padding-top: 30px;
    text-align: center;
}

#typed-name {
    max-width: 50%;
    overflow: hidden;
    border-right: .15em solid rgb(30, 175, 30);
    color:rgb(30, 175, 30);
    white-space: nowrap;
    animation: typing 5s steps(80, end) forwards,
               blink .8s infinite;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

.intro {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 50%;
    padding: 0 3em;
}

#me {
    display: inline-block;
    width: 400px;
    height: 410px;
}

#typed-name-container {
    background-image: linear-gradient(128deg,#363739,#000);
}

#aboutme {
    background-image: linear-gradient(128deg,#40afff,#3f61ff);
}

#skills {
    background-image: linear-gradient(128deg,#ff9a3f,#ff4b40);
}

#projects {
    background-image: linear-gradient(128deg,#F2D86F,#F1C40F);
}

#contactme {
    background-image: linear-gradient(128deg,#e64d94,#D90368)
}
