@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@keyframes typing {
    from { width: 0 }
    to { width: 190% }
}

@keyframes blink {
    from { border-color: transparent };
    to { border-color:rgb(30, 175, 30)};
}

html * {
    font-family: "SpaceMono";
}

.div-content-center {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 5vw;
}

#name-page-title-zone {
    padding-top: 30px;
    text-align: center;
}

#typed-name {
    max-width: 50%;
    overflow: hidden;
    border-right: .15em solid rgb(30, 175, 30);
    color:rgb(30, 175, 30);
    white-space: nowrap;
    animation: typing 5s steps(80, end) forwards,
               blink .8s infinite;
}